body {
    margin: 0;
    background: #1f4037;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #99f2c8, #1f4037);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #99f2c8, #1f4037);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
    /* overflow: hidden; */
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Staatliches', cursive;
}

.navbar a {
    float: left;
    display: block;
    color: #d11c1c;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #f2f2f2;
    color: black;
}

.main {
    padding: 16px;
    margin: 30px 0 0 0;
    height: 1500px;
}

.add-form {
    margin: 30px 0 0 0;
}

.logout {
    color: #000000 !important;
}